body {
  background: #cd8538; }

@media (min-width: 500px) {
  body {
    background: #fff; } }

body {
  max-width: 1400px; }

/*font costumization for navigation menu*/
.container {
  font-family: 'Montserrat', sans-serif;
  color: #323648; }

/*font costumization for text logo "Drupalcamp Cebu" in navigation menu*/
.text-logo {
  font-size: 30px;
  font-weight: bolder;
  color: #5c97ce;
  float: right; }
  .text-logo p {
    color: #c06e40;
    font-size: 30px;
    font-weight: bolder; }

/*font costumization header content*/
h1 {
  font-family: 'Merriweather', serif;
  font-size: 64px;
  color: #323648; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  color: #323648; }

/*design for input types in header*/
input[type=text] {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: 1px solid #c06e40;
  box-sizing: border-box;
  padding: 19px 19px;
  width: 35%; }

input[type=submit] {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #c06e40;
  color: white;
  padding: 20px;
  border: none;
  cursor: pointer;
  width: 17.5%; }

.reg_btn {
  border: 0.5px solid #c06e40;
  padding: 10px 10px;
  border-radius: -25px;
  text-align: center; }

.header {
  width: 820px;
  padding: 15px;
  margin: 60px;
  float: right; }
  .header p {
    color: #323648;
    font-family: 'Open Sans', sans-serif; }
