/* Fonts. */
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Open Sans', sans-serif;

/* Colors. */
$primary-color: #39aade;
$secondary-color: #b97a47;
$tertiary-color: #323648;

/* Background colors. */
$primary-bg: #ffffff;
$secondary-bg: #f5f5f5;