.content {
  padding-top: 40px;
}
.content-wrapper {
  background-color: $secondary-bg;
  .sponsor-region {
    h2 {
      text-align: center;
      margin: 50px;
      margin-bottom: 15px;
      font-weight: bolder;
    }

    p {
      text-align: center;
    }

   .link-btn {
      text-align: center;
      margin: 70px auto;
      margin-bottom: 95px;
    }

    h4 {
      text-align: center;
    }

    .sponsors-image {
      text-align: center;
      margin-bottom: 50px;
    }
  }
}