// SASS file for global changes.
h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

h1 {
  font-size: pxtoem(40px);
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

p {
  font-family: $text-font;
  font-size: $base-font-size;
  text-align: justify;
  margin-bottom: 20px;
}

.link-btn {
  a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-family: $text-font;
    color: $secondary-color;
    text-decoration: none;
    border: 1px solid $primary-bg;
    background-color: transparent;
    border-color: $secondary-color;
    border-radius: 10px;
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
  }

  a:hover {
    color:$primary-bg;
    background-color: $submit-btn-hover;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: pxtoem(60px);
  }
}
